<mat-card>
  <div fxLayout="column" fxLayoutAlign="center left" class="form-container">
    <mat-form-field>
      <input matInput placeholder="Data filename">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Project Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dependent Variable">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">rmsprop</mat-option>
        <mat-option value="option">adam</mat-option>
        <mat-option value="option">nadam</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Learning Rate">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Loss Function">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Batch size">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Layer Activation">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="L1">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="L2">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Minimum Dependent Variable Value">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Maximum Dependent Variable Value">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Stuff here"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary">Create Job</button>
</mat-card>