<mat-toolbar>
  {{ this.workService.workTypes[this.workService.selectedWorkType].label }}
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="History">
    <div [ngSwitch]="this.workService.selectedWorkType">
      <app-nn-regression-completed *ngSwitchCase="'nn-regression'"></app-nn-regression-completed>
    </div>
  </mat-tab>
  <mat-tab label="Create">
    <div [ngSwitch]="this.workService.selectedWorkType">
      <app-nn-regression-order-form *ngSwitchCase="'nn-regression'"></app-nn-regression-order-form>
    </div>
  </mat-tab>
</mat-tab-group>