<h2>
  Orders
</h2>
<mat-accordion multi="true" *ngIf="orders.length > 0">
  <mat-expansion-panel *ngFor="let order of orders">
    <mat-expansion-panel-header *ngIf="order.outcome">
      <mat-panel-title>
        Name:
        {{ order.job.projectName }}
      </mat-panel-title>
      <mat-panel-description>
        {{ order.job.loss}}: {{ order.outcome.metric | number:'3.1-3' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list dense>
      <mat-card fxLayout="column"  *ngFor="let layer of order.job.hiddenLayers; index as i">
          <mat-card-subtitle fxFlexFill>Layer #{{ i + 1 }}</mat-card-subtitle>
          <mat-card-subtitle fxFlexFill>Activation: {{ layer.activation }}</mat-card-subtitle>
          <mat-card-subtitle fxFlexFill>Width modifier: {{ layer.widthModifier }}</mat-card-subtitle>
          <mat-card-subtitle fxFlexFill>Dropout: {{ layer.dropout }}</mat-card-subtitle>
      </mat-card>
      <mat-card>
      <mat-list-item><b>Script Name: </b>{{ order.job.scriptName }}</mat-list-item>
      <mat-list-item>Data filename: {{ order.job.dataFileName }}</mat-list-item>
      <mat-list-item>Dependent Variable: {{ order.job.dependentVariable }}</mat-list-item>
      <mat-list-item>Batch Size: {{ order.job.batchSize }}</mat-list-item>
      <mat-list-item>Epochs: {{ order.job.epochs }}</mat-list-item>
      <mat-list-item>Optimizer: {{ order.job.optimizer }}</mat-list-item>
      <mat-list-item>Loss: {{ order.job.loss }}</mat-list-item>
      <mat-list-item>Learning Rate: {{ order.job.learningRate }}</mat-list-item>
      <mat-list-item>Slow Learning Rate: {{ order.job.slowLearningRate }}</mat-list-item>
      <mat-list-item>Principal Component Analysis Rate: {{ order.job.pcaComponents }}</mat-list-item>
      <mat-list-item>Extra Trees Threshold: {{ order.job.extraTreesKeepThreshd }}</mat-list-item>
      <mat-list-item>Save Weights: {{ order.job.saveWeightsOnlyAtEnd }}</mat-list-item>
      <mat-list-item>Last Layer Activator: {{ order.job.lastLayerActivator }}</mat-list-item>
      <mat-list-item>l1: {{ order.job.l1 }}</mat-list-item>
      <mat-list-item>l2: {{ order.job.l2 }}</mat-list-item>
      <mat-list-item>Minimum Value of Dependent Variable: {{ order.job.minDependentVarValue }}</mat-list-item>
      <mat-list-item>Maximum Value of Dependent Variable: {{ order.job.maxDependentVarValue }}</mat-list-item>
      <mat-list-item>Scaler Type: {{ order.job.scalerType }}</mat-list-item>
      <!-- <mat-list-item>{{ order.job.hiddenLayers }}</mat-list-item> -->
      </mat-card>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="orders.length <= 0">No orders found!</p>